@import '../../styles/variables';

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid $primary-color;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    background-color: $secondary-color;
    font-size: 16px;
    outline: none;
  }
  